{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="text-center">
      <h1>Welcome to the App!</h1>

      {% if data %}
        <ol>
          {% for item in data %}
            <li>{{ item }}</li>
          {% endfor %}
        </ol>
      {% else %}
        <p>Keine Rezepte gefunden.</p>
      {% endif %}
    </div>
  {% else %}
    <div class="text-center mt-4">
      <h2>Please login to continue</h2>
      <div class="col text-center mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
      </div>
    </div>
  {% endif %}
{% endblock %}
